<div class="row">
	<div class="col-md-6">
		<img src="img/kassem.png" class="img-circle img-responsive" id="about-image"/>
	</div>
	<div class="col-md-6" id=about>
		<h1>Hi, ik ben <strong>Yassine Gherbi</strong>, een Media Developer student op het <a href="http://ma-web.nl"> Mediacollege Amsterdam</a>.</h1>

		<p>Als ontwikkelaar ben altijd bezig met zelfontwikkeling op verschillende vlakken, dit varieert van een beetje design, HTML, CSS, JavaScript en de nieuwste PHP functionaliteiten en frameworks
		</p>

		<p>Mijn naam is Yassine Gherbi en ik ben een Developer.<br /> Als ontwikkelaar focus ik me op het schrijven van code wat ten alle tijden "clean, elegant &amp; effici&#235;nt" is. <br />Blijven innoveren is wat een ontwikkelaar zijn waarde geeft en dit laat ik graag zien door open te staan voor alle nieuwe <i>Frameworks, Libraries, Tools</i> &amp; <i/>Programming languages</i> en dit zoveel mogelijk op mijn projecten toe te passen.
		</p>
	</div>
</div>